#messageBox{
    position: relative;
    top: 80px;
    overflow: scroll;
    z-index: -1;
}
#messageCreating{
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 15px;
}
.mb-3{
    margin: 0 !important;
}