#mockup{
    margin: 0;
    padding: 0;
    border: solid 10px blue;
    margin: 10px;
}

#mockup .mainMenu{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

#mockup .mainMenu > div{
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px; 
}

#mockup .mainMenu > div:hover{
    background-color: gray;
    color: white;
}

#mockup .grid-container {
    display: grid;
    grid-template-columns: 200px auto auto auto auto;
    grid-gap: 10px;
    background-color: rgb(179, 202, 219);
    padding: 10px;
}

  #mockup .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
  #mockup .item1 {
    grid-row: 1 / 5;
}

  #mockup .item1 > input{
      margin-bottom: 20px;
      margin-top: 10px;
      width: 150px; 
}
    
  #mockup .item1 > p{
      text-align: left;
      font-size: 20px;
      margin-top:0;
      margin-bottom: 0;
      padding: 5px;
}

  #mockup .item1 > p:hover{
    background-color: gray;
    color: white;
      
}
    