body{
    margin: 10px;

}
#container{
    margin:0;
    padding:0;
    width: 100%;
    font-size: 1.2em;
}
header > h1{
    text-align: center;
    font-size: 3em;
    
}
article > h4{
    margin-left: 50px;
    font-size: 2em;
}
#siteMap{
    width: 412px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table {
    border: solid 1px black;
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}
td, th {
    border: solid 1px black;
    text-align: left;
    padding: 8px;
}