/*==========  Mobile First Method  ==========*/
@font-face {
    font-family: nashville;
    src: url(NASHVILL.TTF);
}
@font-face {
    font-family: western;
    src: url(Western.TTF);
}
/* Old smarphones */
@media only screen and (min-width : 300px) {
    .bigDevices{
        display: none;
        font-family: western;
        color: wheat;    
    }
    .info{
        margin: 0;
        margin-top: 10px;
        padding: 0;
        list-style: none;
    }
    .info > ul{
        list-style: none;
        margin-left: 10px;
        padding: 0;
    }
    .info > img{
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    .smallDevices {
        font-family: western;
        color: wheat;
    }
    .smallDevices > .info > p{
        margin: 0;
        padding: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    #titleText{
        font-family: western;
    }
    #arrestWarrants{
        text-align: center;
    }
    body {
        background-color: black;
        margin: 0;
        padding: 0;
    }
    header {
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
    header > div > h1{
        color: firebrick;
        margin: 5;
        text-align: center;
        font-weight: bold;
        font-size: 2em;
    }
    header > div > h2 {
        margin: 5;
        color: gray;
        font-size: 1.7em;
    }
    header > div > img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 260px;
    }
    header > div> h3{
        margin: 5;
        color: darkred;
        display: none;
        font-size: 2em;
    }
    main {
        margin-top: 10px;
    }
    main > ul{
        padding: 0;
        list-style: none;
        text-align: center;
        color: aliceblue;
        font-size: 1.6em;
    }
    main > ul > li{
        margin-top: 10px;
    }
    main > ul > div{
        display: none;
        margin-left: 10px;
        text-align: left;
        font-size: 0.8em;
    }
    footer {
        display: none;
        width: 100%;
        color: wheat;
        text-align: right;
        font-size: 1.1em;
        font-family: nashville;
    }
}

/* Newer smartphones */
@media only screen and (min-width: 370px) {
    header > div > h1 {
        font-size: 2.5em;
    }
    header > div > h2 {
        font-size: 2em;
    }
    header > div > img{
        width: 350px;
    }
    main > ul > li{
        font-size: 1.6em;
    }
    main > ul > div{
        font-size: 1em;
    }
}

/* Tablets */
@media only screen and (min-width : 768px) {
    .smallDevices{
        display: none;
    }
    .bigDevices {
        display: block;
    }
    .flexContainer{
        display: flex;
    }
    .info{
        margin-right: 30px;
    }
    .info > div{
        padding-left: 10px;
    }
    .title{
        font-size: 1.7em;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .info > div > p{
        margin-left: 10px;
        margin: 0;
        padding: 0;
    }
    #container {
        width: 750px;
        margin: auto;
        margin-top: 0px;
        padding: 0;
    }
    #titleText{
        margin-left: 50px;
    }
    #picbackground{
        padding: 0;
    }
    header{
        margin: auto;
        display: flex;
        width: 100%;
    }
    header > div{
        background-color: black;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 80px;
    }
    header > div > h1{
        font-size: 3em;
    }
    header > div > h2 {
        font-size: 2.4em;
    }
    header > div > img{
        margin-left: 120px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 300px;
    }
    header > div> h3{
        display: block;
    }
    main {
        width: 100%;
        margin: auto;
    }
    footer {
        display: block;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #container {
        margin: auto;
        width: 950px;
    }
    #titleText{
        margin-left: 100px;
    }
    #picbackground{
        margin-left: 50px;
    }
}
