@baseColor: lightgrey;
@peerBackColor: lightblue;
@innerPeerBackColor: @peerBackColor;
@outerPeerBackColor: @peerBackColor;
@ballSize: 20px;
@areaHeight: 400px;
@areaWidth: 400px;
@left: 200px - (@ballSize/2);
@keyframes clockwise {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes counterclockwise {
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.ball{
    position: absolute;
    user-select: none;
    height: @ballSize;
    width: @ballSize;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;    
}
#seed{
    .ball;
    left:@areaWidth / 2 - @ballSize / 2;
    top: @areaHeight / 2 - @ballSize / 2;
    background-color: darken(@peerBackColor, 10%);
}

.container{
    position: relative;
    height: @areaHeight;
    width: @areaWidth;
    //background-color: @baseColor;
    >div{
        position: absolute;
        left:@areaWidth / 2 - @ballSize / 2;
        top: @areaHeight / 2 - @ballSize / 2;
        height: @ballSize;
        width: @ballSize;
        >div{
            .ball;
        }
    }
}
.inner.rotation{
    animation: clockwise 5s linear infinite;
}

.outer.rotation{
    animation: counterclockwise 7s linear infinite;
}
.peer {
    transition: all 1s linear;
}
.pos(@angle, @radius){
    @pi: pi();
    @radian: @pi/180 * @angle;
    @y: @radius * sin(@radian);
    @x: @radius * cos(@radian);
    transform: translate(@x, @y);
}

.loopInner(@counter) when (@counter <= 4){
    .loopInner(@counter + 1);
    .inner .peer.transition:nth-child(@{counter}){
        background: @innerPeerBackColor;
        @angle: 360;
        .pos(30 + (360/4 * @counter), 30px);
    }
}

.loopOuter(@counter) when (@counter <= 5){
    .loopOuter(@counter + 1);
    .outer .peer.transition:nth-child(@{counter}){
        background: @outerPeerBackColor;
        @angle: 360;
        .pos(45 + (360/5 * @counter), 60px);
    }
}

.loopInner(0);
.loopOuter(0);