<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>        
        <title>{{page_title}}</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">List of all Pokemons</h1>
                </div>
            </div>
            <div class="row">
                <!-- A menu - future -->
                <div class="col-sm-2">
                    Filter by Type:
                    {% autoescape false %}{{ 'PokemonType'|createSelectBox('w-100') }}{% endautoescape %}
                </div>
                <div class="col-sm-10">
                <!-- A flex container of cards -->
                    <div class="d-flex flex-wrap">
                        {% for pokemon in pokemon_List %}
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                                {{pokemon[2]}}
                            </div>
                            <a href="index.php?pokemonID={{'%03u'|format(pokemon[0])}}"> <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/{{'%03u'|format(pokemon[1])}}.png" alt="{{pokemon[2]}}"></a>
                            <div class="card-body">
                                <h5 class=\"card-title\">Pokedex #{{pokemon[1]}}</h5>
                                <p class="card-text">{{ pokemon[0]|print_type }}</p>
                                <a href="index.php?pokemonID={{'%03u'|format(pokemon[0])}}" class="btn btn-primary">About {{pokemon[2]}}</a>
                            </div>
                        </div>  
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>